*{
    font-family:'Press Start 2P';
    list-style: none;
    margin: 0;
    box-sizing: border-box;
    font-size: 18px;
}

body{
    background-color: rgb(26, 26, 26);
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

#device{
    display: flex;
    align-self: center;
    flex-direction: column;
    width: 35rem;
    padding: 5% 0% 8%;
    background-color: rgb(158, 54, 158);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    border: 5px solid black;
}

/* title */
h1{
    font-size: 1em;
    align-self: center;
    margin: 5% 0 2% 0;
}
/*buttons*/
ul{
    display: flex;
    width: 80%;
    height: 4em;
    justify-content: center;
    align-content: center;
    align-self: center;
    padding: 0;
    margin: 5% 0;
    gap: 8%;
}

button{
    height: 4em;
    width: 4em;
    border-radius: 10px;
}

button>img{
    height: 2em;
    width: 2em;
    align-self: center;
    margin: 2%;
}

#display{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 80%;
    align-self: center;
    border-radius: 20px;
    background-color: #6ebebe;
    border: 2px solid rgb(46, 46, 46);
    align-items: center;
    
}

/* Stats bars*/
.stats{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-top: 5%;
    align-items: center;
    justify-content: space-between;
    justify-items: end;
    gap: 5%;
}

.title{
    font-size: 0.8rem;
}

.bar{
    border: 2px solid black;
    border-radius: 20px;
    width: 90%;
}

.data {
    height: 100%;
    border-radius: 20px;
    margin-left: 1%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.number{
    margin-top: 5%;
}

#display>img{
    height:10em;
    margin-bottom: 5%;
}

#text{
    margin: 5% 2%;
    text-align: center;
}

